[Unit]
Description=etcd

[Service]
Environment=ETCD_NAME=etcd0
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_ADVERTISE_CLIENT_URLS=http://127.0.0.1:3379
Environment=ETCD_LISTEN_CLIENT_URLS=http://127.0.0.1:3379
Environment=ETCD_INITIAL_ADVERTISE_PEER_URLS=http://127.0.0.1:3380
Environment=ETCD_LISTEN_PEER_URLS=http://127.0.0.1:3380
Environment=ETCD_INITIAL_CLUSTER_TOKEN=kubernetes
Environment=ETCD_INITIAL_CLUSTER=etcd0=http://127.0.0.1:3380
Environment=ETCD_INITIAL_CLUSTER_STATE=new
ExecStart=/opt/bin/etcd
Restart=always
RestartSec=10s

[X-Fleet]
MachineMetadata=role=kubernetes
MachineID=
